.container{
  display: flex;
  width : 25%;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  flex-direction: column;
  margin : 0 auto;
}

.input{
  border : none;
  border-bottom : 0.1rem solid black;
  width : 100%
}

.results{
  align-self: flex-start;
  width : 100%
}

.highlight {
  background-color: #EEF43B;
}

.option{
  width : 100%;
  border-bottom : 1px solid black;
  transition: transform 500ms ease;
  cursor: pointer;
}

.option:hover{
  transform : scale(1.1);
}
.input:focus , .input:active{
  border: none;
  outline: none;
  border-bottom : 0.1rem solid black;

}